@model IEnumerable<MyMeetings.Models.ApplicationUser>

<h3>All finded users:</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Отметка</th>
            <th>Логин</th>
        </tr>
    </thead>
    @foreach (var m in Model)
    {
        <tr>
            <td>
                <input id="@m.Id" type="radio" name="role" value=@m.Id class="user-id" />
            </td>
            <td>
                <p>@m.UserName </p>
            </td>
            <td>
                <a class="userInfo" href='@Url.Action("UserDetails", "Moderation", new {id = m.Id})'>
                    <img src="~/Content/images/UserInfo.png" width="18" height="18">
                </a>
            </td>
        </tr>
    }
</table>
    <label class="checkbox-inline" id="list-of-roles">

    </label>
    <p>
        <a class="btn btn-default btn-save">Save</a>
    </p>
@Scripts.Render("~/scripts/commonscripts/roles/roleanduserhandler.js")
<script type="text/javascript">

            $(function () {
                $.ajaxSetup({ cache: false });
                $(".userInfo").click(function (e) {
                    e.preventDefault();
                    $.get(this.href, function (data) {
                        $('#dialogContent').html(data);
                        $('#modDialog').modal('show');
                    });
                });
            })
</script>

