@{
    Layout = "";
}

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">Закрыть</button>
        <div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt>Загрузить фотографию</dt>
                    <dd>
                    <form method="post" enctype="multipart/form-data">
                        <input type="file" id="imagefile" name="imagefile" accept="images/png,images/jpeg"/><br/>
                        <input type="submit" id="upload-image-button" value="Сохранить"/>
                    </form>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/scripts/jquery-1.12.4.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
@Scripts.Render("~/Scripts/CommonScripts/Manage/ValidateFileFormat.js");


