@{
    Layout = "";
}

<div class="modal-content">
    <div class="modal-header">
        <div>
            <a class="close" data-dismiss="modal" area-hidden="true">X</a>
            <div style="clear: both"></div>
            </div>
        <div></div>
        <div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt>Загрузить фотографию</dt>
                    <dd>
                        @*@using (Ajax.BeginForm("LoadImage", "Manage", new AjaxOptions {HttpMethod = "POST"}, new {enctype = "multipart/form-data"}))
                        {*@
                        @*<form method="post" enctype="multipart/form-data">*@
                        <form action="/Manage/LoadImage" method="post" enctype="multipart/form-data">
                            <input type="file" id="imagefile" name="imagefile"/>
                            <br/>
                            <input type="submit" id="upload-image-button" value="Сохранить"/>
                            <div id="status-message"></div>
                            @Scripts.Render("~/Scripts/CommonScripts/Manage/ValidateFileFormat.js");
                        </form>
                       
                        @*}*@
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>



