
@{
    ViewBag.Title = "Uploader";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <form method="post" enctype="multipart/form-data">
        <input type="file" id="imagefile" name="imagefile" accept="images/*"/><br />
        <input type="submit" value="Save" />
    </form>
</div>
<h2>Uploader</h2>

