@model IEnumerable<MyMeetings.Models.PublicationViewModels.ShortPublicationModelView>
<h3>Latest publications</h3>
<div style="float:left">
    @foreach (var m in Model)
    {
        <div class="form-group flex-row">
            <div>
                <h4><b>@m.PublicationName</b></h4>
                <p>@m.Creator" created new meet:</p>
                <p>@m.Category</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866"> Read more &raquo;</a></p>
            </div>
        </div>
    }
</div>